*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:  #2563EB;
    --text-color:#1F2937;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    color: var(--text-color);
}
h1{
    color:var(--primary-color);
    margin-bottom: 20px;
    font-size: 8vw;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
section.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   min-height: 80vh;
}
nav a:hover {
    text-decoration: none;
    color: var(--primary-color);
}
.profile-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   background-color: #f9f9f9;
   padding: 20px;
   border-radius: 8px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.profile-card h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.profile-card p{
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}
.profile-card a{
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
.profile-card:hover{
    transform: translateY(-5px);
}
.initiatives-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.initiatives-card{
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
}
/*.featured{
    grid-column: span 2;
}*/
@media (max-width: 900px){
    .initiatives-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px){
    .initiatives-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .featured{
        grid-column: span 1;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}
.membership-form form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.membership-form input,
.membership-form textarea{
    background: none;
    padding:12px 15px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:1rem;
}
.membership-form input:focus, 
.membership-form textarea:focus {
    outline:none;
    border-color: var(--primary-color);
}
.membership-form button{
    background-color: var(--primary-color);
    color:beige;
    padding: 12px 15px;
    border:none;
    border-radius: 8px;
    cursor:pointer;
}
.membership-form button:hover{
    background-color: #1E40AF;
}
.membership-form button:disabled{
    background-color:gray ;
    cursor: not-allowed;
}
